*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;}
ul{list-style-type: none;}
a{text-decoration: none;}
input:focus, textarea:focus, button:focus {outline:none;}

.first{
    height: 150px;
    background: url(face.jpg);
    background-position: center;
    background-size: cover;
}
.first a{
    font-size: 3em;
    margin-left: 70px;
    padding-top: 40px;
    line-height: 30px;
    display: block;
    color: black;
    font-weight: bolder;
}
.first a span{
    font-weight: lighter;
    font-size: 0.8em;
    display: block;
    margin-top: 10px;
}
.second h1{
    margin-top: 100px;
    text-align: center;
}
.second input{
    margin: auto;
    margin-top: 60px;
    display: block;
    height: 50px;
    width: 200px;
    font-size: 1.3em;
    padding: 0px 10px;
    border: 0px solid black;
    box-shadow: 0px 0px 10px black;
}
.second input:focus{
    box-shadow: 0px 0px 30px black;
    transition: 0.5s;
}
.second button{
    display: block;
    margin: 25px auto;
    height: 40px;
    width: 110px;
    font-size: 1.1em;
    border: 0px;
    background-color: rgb(179, 179, 179)
}
.second button:hover{
    color: white;
    background-color: maroon;
    transition: 0.3s;
}
.second button:active{
    color: white;
    background-color: rgb(68, 1, 1);
}
.second h1 span{
    color: maroon;
}
.second .answer {
    margin-top: 60px;
}
@media screen and (max-width: 850px) {
    .first a{
        font-size: 2em;
        margin-left: 5px;
        color: black;
        padding-top: 115px;
        text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
    }
    .first a span{
        display: inline;
    }
    .second h1{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 520px){
    .second h1{
        font-size: 1.15em;
    }
}